name: Verify Schema

on:
    push:
        branches:
            - main
    pull_request:

jobs:
    schema:
        runs-on: ubuntu-latest

        permissions:
            contents: read

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: "24"

            - name: Install dependencies
              run: npm ci
              env:
                  CI: true

            - name: Backup old schemas
              run: |
                  mkdir -p $HOME/schema-old
                  cp schema/*.schema.json $HOME/schema-old/

            - name: Regenerate schemas
              run: npm run schema
              env:
                  CI: true

            - name: Backup new schemas
              run: |
                  mkdir -p $HOME/schema-new
                  cp schema/*.schema.json $HOME/schema-new/

            - name: Diff schemas
              run: |
                  if ! diff -r $HOME/schema-old $HOME/schema-new; then
                    echo "âŒ Schemas are out of date. Run 'npm run schema' locally to regenerate the schemas and commit the changes." >&2
                    exit 1
                  fi
